body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

#chessboard {
	width: 425px;
	height: 430px;
	float: left;
	margin-right: 25px;
}

#log {
	background-color: #d1d1d1;
	padding: 0px 15px 15px 15px;
	font-size: 10pt;
	width: 295px;
	height: 385px;
	float: right;
	overflow: auto;
}

#turn {
	margin-bottom: 15px;
	font-size: 12pt;
}

.wrapper {
	width: 775px;
	margin: 0 auto;
}